<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>File Manager</title>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/jstree.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/recognizefilemanager/themes/default/style.css') }}" />
</head>
<body>
    <div>

        <div class="filetree">

        </div>


        <script type="text/javascript">
            (function() {
                "use_strict";

                var FileTree = function(element, options){
                    var defaults = {
                        debug: false
                    };
                    this.options = $.extend(true, defaults, options);
                    this.init( this.options, element );
                };

                /**
                 * Manages the in-memory file tree
                 */
                FileTree.prototype = {
                    _debug: false,
                    _root: {
                        children: {}
                    },

                    /** Used for setting the ID of the jstree */
                    _walk_itteration: 0,

                    /**
                     * Initialize the Tree configuration
                     */
                    init: function (config, element) {
                        this.$element = element;

                        if( config !== null && typeof config === 'object' ){
                            this._debug = config.debug;
                        }

                        this.debug( "Initializing" );
                        this.debug( config );

                        return this;
                    },

                    /**
                     * Recursively walk over the entire tree and call a function for each file
                     *
                     * @param callback          The function that will be called on every file retrieved
                     * @param nodes             File nodes
                     */
                    walk: function( callback, nodes ){
                        if( typeof nodes === "undefined" ){
                            nodes = this._root.children;
                        }

                        for(var folder_name in nodes) {
                            var node = nodes[ folder_name ];
                            this._walk_itteration++;

                            callback( node, this._walk_itteration );
                            if( typeof node.children === "object" && node.children !== null ){

                                var keys = [];
                                for( var key in node.children ){
                                    keys.push( key );
                                }

                                if( keys.length > 0 ){
                                    this.walk( callback, node.children );
                                }
                            }
                        }
                    },

                    /**
                     * Add new files to the FileTree and check for conflicts
                     */
                    addFiles: function( files ){
                        for( var i = 0, length = files.length; i < length; i++ ){
                            var file = files[i];
                            this._setFile( file );
                        }

                        this.debug( "Tree structure after updating" );
                        this.debug( this._root );

                        this.updateJstree();
                    },

                    /**
                     * Add or override a filenode
                     */
                    _setFile: function( filenode ){
                        filenode.children = {};

                        var node = this._findNode( filenode.path );

                        // Just set the value if the childnode doesn't exist
                        if( typeof node.children[ filenode.name ] === "undefined" ){
                            node.children[ filenode.name ] = filenode;

                        // Otherwise recursively merge the values of the node
                        } else {
                            node.children[ filenode.name] = $.extend( true, node.children[ filenode.name ], filenode );
                        }
                    },

                    /**
                     * Walk through the tree - Adding nodes where they aren't set,
                     * before returning the node object that was found
                     *
                     * @return object
                     */
                    _findNode: function( path ){
                        var pathnodes = this._extractPathNodes( path );

                        // Get the file node in the nested structure
                        var node = this._root;
                        for( var i = 0, length = pathnodes.length; i < length; i++ ){
                            var pathnode = pathnodes[ i ];

                            if( typeof node.children[ pathnode ] === "undefined") {
                                node.children[ pathnode ] = { children: {} };
                            }

                            node = node.children[ pathnode ];
                        }

                        return node;
                    },

                    /**
                     * Extract the actual path nodes without empty strings caused by multiple backslashes
                     *
                     * @return []
                     */
                    _extractPathNodes: function( path ){
                        var crudepathnodes = path.split('/');
                        var pathnodes = [];
                        for( var i = 0, length = crudepathnodes.length; i < length; i++ ){
                            if( crudepathnodes[i] !== "" ){
                                pathnodes.push( crudepathnodes[i] );
                            }
                        }

                        return pathnodes;
                    },

                    /**
                     * Add changes to the FileTree like:
                     *      Creating a filenode
                     *      Moving treenodes around or renaming a node
                     *      Deleting a node and its children
                     */
                    addChanges: function( changes ){

                        // Loop through the changes and execute them
                        if( typeof changes !== "undefined" || !changes ){
                            for( var i = 0, length = changes.length; i < length; i++ ){
                                this._executeChange( changes[ i ] );
                            }
                        }

                        this.debug( "Tree structure after updating" );
                        this.debug( this._root );
                    },

                    /**
                     * Route the different types of changes to their correct execution methods
                     *
                     * @param change            A change object containing a type, the current file and the updated file data
                     */
                    _executeChange: function( change ){
                        switch( change.type ){
                            case "delete":
                                this._deleteNode( change.file );
                                break;
                            case "create":
                                this._setFile( change.file );
                                break;
                            case "rename":
                            case "move":
                                this._updateNode( change.file, change.updatedfile );
                                break;
                        }
                    },

                    /**
                     * Update the node and where needed its children
                     * If the path has changed, destroy the old file node as well
                     *
                     * @param file          The old file
                     * @param newfile       The updated file data
                     *
                     *
                     */
                    _updateNode: function( file, newfile ){
                        /*
                         var change = {
                         type: "delete",
                         file: { path: "app", name: "cache" },
                         updatedfile: {}
                         };*/

                        var node = this._findNodeIfexists( file.path );

                        if( node !== false || typeof node.children[ file.name ] !== "undefined" ){
                            var currentfile = node.children[ file.name ];
                            var updatedfile = $.extend( true, currentfile, newfile );


                            // Check if the path location has changed
                            var oldpath = this._appendSlashToPath( oldfile.path );
                            var newpath = this._appendSlashToPath( newfile.path );

                            if( oldpath + currentfile.name !== newpath + newfile.name ){
                                updatedfile = this._updateChildPaths( updatedfile );
                                this._deleteNode( currentfile );
                            }

                            this._setFile( updatedfile );
                        }
                    },

                    /**
                     * Recursively update the paths of the child nodes
                     *
                     * @return object             The updated node
                     */
                    _updateChildPaths: function( node ){
                        if( typeof node.children !== "undefined" ){
                            var keys = [];
                            for( var key in node.children ){
                                keys.push( key );
                            }

                            // Loop through the children and update the paths
                            for( var i = 0, length = keys.length; i < length; i++ ){
                                if( typeof node.children[ keys[ i ] ] !== "undefined" ){
                                    var childnode = node.children[ keys[ i ] ];
                                    childnode.path = this._appendSlashToPath( node.path ) + node.name;

                                    node.children[ keys[ i ] ] = this._updateChildPaths( childnode );
                                }
                            }
                        }

                        return node;
                    },

                    /**
                     * Appends a slash to a path if the last character isn't a slash
                     *
                     * @return string
                     */
                    _appendSlashToPath: function( path ){
                        if( path.substr( path, path.length - 1 ) !== "/" ){
                            path += "/";
                        }

                        return path;
                    },

                    /**
                     * Delete a node and its children if it exists
                     *
                     * @param file              A filenode containing a path and a name
                     */
                    _deleteNode: function( file ){
                        var parent = this._findNodeIfexists( file.path );
                        if( parent !== false ){
                            delete parent.children[ change.file.name ];
                        }
                    },

                    /**
                     * Walk through the tree and find the node if it exists
                     * Returning the node object that was found or an empty object if nothing was found
                     *
                     * @return object
                     */
                    _findNodeIfExists: function( path ){
                        var pathnodes = this._extractPathNodes( path );

                        // Get the file node in the nested structure
                        var node = this._root;
                        for( var i = 0, length = pathnodes.length; i < length; i++ ){
                            var pathnode = pathnodes[ i ];

                            if( typeof node.children[ pathnode ] === "undefined") {
                                node = false;
                                break;
                            }

                            node = node.children[ pathnode ];
                        }

                        return node;
                    },

                    /**
                     * Turns the current in memory file tree into a list of files that the jsTree plugin can understand
                     */
                    flattenTree: function(){
                        var jstreedata = [];

                        this.walk(function(filenode, itteration){
                            var parent = filenode.path;
                            if( parent == "" ){
                                parent = "#";
                            }

                            var jstreenode =  {"id": "js_tree_file_" + itteration, "text": filenode.name, "parent": parent };
                            jstreedata.push( jstreenode );
                        });

                        this._walk_itteration = 0;

                        return jstreedata;
                    },

                    /**
                     * Update the state of the jsTree plugin
                     */
                    updateJstree: function(){
                        this.$element.jstree('destroy').jstree({ 'core': {
                            'data' : this.flattenTree(),
                            'multiple': false}
                        });
                    },

                    /**
                     * Displays debug data
                     * @param debug_message
                     */
                    debug: function( debug_message ) {
                        if( typeof debug_message === "string" ){
                            debug_message =  "FileTree: " + debug_message;
                        }

                        if(this._debug) console.log( debug_message );
                    },

                    /**
                     * Log an error
                     *
                     * @param errormessage
                     */
                    errorLog: function( errormessage ) {
                        console.error( errormessage );
                    }
                };

                var FilemanagerAPI = function(element, options) {
                    var defaults = {
                        debug: false,
                        api: {
                            url: location.protocol + '//' + location.host + location.pathname,
                            paths: {
                                create: "/create",
                                read: "",
                                search: "/search",
                                move: "/move",
                                rename: "/rename",
                                delete: "/delete"
                            }
                        }
                    };
                    this.options = $.extend(true, defaults, options);
                    this.init( this.options, element );
                };

                FilemanagerAPI.prototype = {

                    /** FileTree object */
                    _fileTree: null,

                    _debug: false,
                    _url: "",
                    _path_create: "",
                    _path_move: "",
                    _path_rename: "",
                    _path_read_directory: "",
                    _path_delete: "",
                    _path_search: "",
                    $element: null,

                    /**
                     * Initialize the API configuration
                     */
                    init: function (config, element) {
                        this.$element = element;

                        if( config !== null && typeof config === 'object' ){
                            this._fileTree = config.fileTree;

                            if( typeof config.debug !== 'undefined'){
                                this._debug = config.debug;
                            }

                            if( config.api !== null && typeof config.api === 'object' ){
                                if( typeof config.api.url !== 'undefined'){
                                    this._url = config.api.url;
                                }

                                if( config.api.paths !== null && typeof config.api.paths === 'object' ) {


                                    if (typeof config.api.paths.move !== 'undefined') {
                                        this._path_move = config.api.paths.move;
                                    }

                                    if (typeof config.api.paths.rename !== 'undefined') {
                                        this._path_rename = config.api.paths.rename;
                                    }

                                    if (typeof config.api.paths.create !== 'undefined') {
                                        this._path_create = config.api.paths.create;
                                    }

                                    if (typeof config.api.paths.delete !== 'undefined') {
                                        this._path_delete = config.api.paths.delete;
                                    }

                                    if (typeof config.api.paths.read !== 'undefined') {
                                        this._path_read_directory = config.api.paths.read;
                                    }

                                    if (typeof config.api.paths.search !== 'undefined') {
                                        this._path_search = config.api.paths.search;
                                    }
                                }
                            }
                        }

                        this.debug( "Initializing" );
                        this.debug( config );

                        return this;
                    },

                    /**
                     * Displays debug data
                     * @param debug_message
                     */
                    debug: function( debug_message ) {
                        if( typeof debug_message === "string" ){
                            debug_message =  "FilemanagerAPI: " + debug_message;
                        }

                        if(this._debug) console.log( debug_message );
                    },

                    /**
                     * Log an error
                     *
                     * @param errormessage
                     */
                    errorLog: function( errormessage ) {
                        console.error( errormessage );
                    },

                    /**
                     * Send an ajax request to the server
                     *
                     * @param path                  The absolute link to the api
                     * @param method                The request method
                     * @param parameters            Parameters to be added to the URL
                     *
                     * @returns Promise object
                     */
                    _sendRequest: function( path, method, parameters ){
                        if( typeof method === 'undefined'){
                            method = "GET";
                        }

                        if( typeof parameters !== 'object' ){
                            parameters = {};
                        }

                        // Add the reference to this object to the ajax settings
                        // To allow for easy debug messages
                        var self = this;

                        return $.ajax({
                            url: path,
                            data: parameters,
                            dataType: "json",
                            method: method,
                            self: self,
                            beforeSend: function (jqXHR) {
                                this.self.debug("Sending " + this.method + " request to " + this.url + "...");
                            }

                        // Log the response
                        }).done( function( data ){
                            this.self.debug( data );

                        // Log the failure
                        }).fail( function( jqXHR, error, errorMessage ){
                            this.self.debug( { statuscode: jqXHR.status,
                                statustext: jqXHR.statusText,
                                response: jqXHR.responseText });
                        });
                    },

                    /**
                     * Send a read directory call to the server
                     *
                     * @param directory                     The directory to read
                     */
                    read: function( directory ){
                        var url = this._url + this._path_read_directory;

                        this._sendRequest( url, "GET", { directory: directory } )
                            .done(function( data, status, jqXHR) {
                                var contents = data.data.contents;

                                this.self._fileTree.addFiles( contents );
                            });
                    },

                    /**
                     * Send a search call to the server
                     *
                     * @param directory                     The directory to read
                     * @param query                         The value to search for
                     */
                    search: function( directory, query ){
                        var url = this._url + this._path_search;

                        this._sendRequest( url, "GET", { directory: directory, q: query } )
                            .done(function( data, status, jqXHR) {

                            })
                            .fail(function( data, status, jqXHR ) {

                            });
                    },

                    /**
                     * Send a move request to the server
                     *
                     * @param file                          The path to the file including the filename
                     * @param new_location                  The new location of the file
                     */
                    move: function( file, new_location ){
                        var url = this._url + this._path_move;

                        this._sendRequest( url, "POST", { file: file, location: new_location } )
                                .done(function( data, status, jqXHR) {

                                })
                                .fail(function( data, status, jqXHR ) {

                                });
                    },

                    /**
                     * Send a rename request to the server
                     *
                     * @param file                          The path to the file including the filename
                     * @param new_filename                  The new location of the file
                     */
                    rename: function( file, new_filename ){
                        var url = this._url + this._path_rename;

                        this._sendRequest( url, "POST", { file: file, name: new_filename } )
                                .done(function( data, status, jqXHR) {

                                })
                                .fail(function( data, status, jqXHR ) {

                                });
                    },

                    /**
                     * Send a request to the server that creates a directory
                     *
                     * @param path                          The path to the directory
                     * @param name                          The name of the directory to be made
                     */
                    createDirectory: function( path, name ){
                        var url = this._url + this._path_create;

                        this._sendRequest( url, "POST", { type: "directory", location: path, name: name } )
                                .done(function( data, status, jqXHR) {

                                })
                                .fail(function( data, status, jqXHR ) {

                                });
                    },

                    /**
                     * Send a request to the server that deletes a file or a directory
                     *
                     * @param path                          The path to the directory
                     * @param name                          The name of the file or directory to destroy
                     */
                    delete: function( path, name ){
                        var url = this._url + this._path_delete;

                        this._sendRequest( url, "POST", { location: path, name: name } )
                                .done(function( data, status, jqXHR) {

                                })
                                .fail(function( data, status, jqXHR ) {

                                });
                    }
                };

                $.fn.filemanager = function( config ) {
                    var tree = new FileTree( this, config );

                    this.data('tree', tree );
                    config.fileTree = tree;
                    this.data('api', new FilemanagerAPI( this, config ) );


                    return this;
                };

            })( jQuery );

            $('.filetree').filemanager({ debug: true, api: { url: "http://recocms/admin/fileapi" } });


            /**
             var FilemanagerAPI = {

                _debug: false,
                _url: "",
                _path_create: "create",
                _path_move: "move",
                _path_rename: "rename",
                _path_read_directory: "",
                _path_delete: "delete",
                _tree: []


                /**
                 * Initialize the Filemanager API object
                 *
                 * @param config
             *
            init: function (config) {
                if( config !== null && typeof config === 'object' ){

                    if( typeof config.debug !== 'undefined'){
                        this.debug = config.debug;
                    }

                    if( config.api !== null && typeof config.api === 'object' ){
                        if( typeof config.api.url !== 'undefined'){
                            this._url = config.api.url;
                        }

                        if( typeof config.api.movePath !== 'undefined'){
                            this._path_move = config.api.movePath;
                        }

                        if( typeof config.api.renamePath !== 'undefined'){
                            this._path_rename = config.api.renamePath;
                        }

                        if( typeof config.api.createPath !== 'undefined'){
                            this._path_create = config.api.createPath;
                        }

                        if( typeof config.api.deletePath !== 'undefined'){
                            this._path_delete = config.api.deletePath;
                        }

                        if( typeof config.api.readDirectoryPath !== 'undefined'){
                            this._path_read_directory = config.api.readDirectoryPath;
                        }
                    }

                }
            }

            sendAjaxCall: function( path, parameters ){

            }

            showError: function( errormessage ){

            }
            };
            */

            /*var filetree = $('.filetree').jstree({ 'core': {
                'data' : [
                    { "id" : "ajson1", "parent" : "#", "text" : "Simple root node" },
                    { "id" : "ajson2", "parent" : "#", "text" : "Root node 2" },
                    { "id" : "ajson3", "parent" : "ajson2", "text" : "Child 1" },
                    { "id" : "ajson4", "parent" : "ajson2", "text" : "Child 2" }
                ],
                'multiple': false}
            });

            filetree.create_node( "#", "Iminlovewithdacoco" );*/
        </script>
    </div>
</body>
</html>
