
// The colours of the focussed element
$filemanager_focus_bg_color: #46b8da;
$filemanager_focus_color: #FFFFFF;

// The colours of the selected file
$filemanager_selection_bg_color: mix( #46b8da, #000000, 80% );
$filemanager_selection_color: #FFFFFF;

// The background color of the searched query inside the results
$filemanager_search_bg_color: #FF9000;