
// The colours of the focussed element
$filemanager_focus_bg_color: #0000FF;
$filemanager_focus_color: #000000;

// The colours of the selected file
$filemanager_selection_bg_color: #FF0000;
$filemanager_selection_color: #FFFFFF;

// The background color of the searched query inside the results
$filemanager_search_bg_color: #FFF000;