{% trans_default_domain "filemanager" %}
<div class="titlebar"></div>
<div class="overlayreference">
    <div class="directories"></div>
    <div class="mainview"></div>
    <div class="overlay"></div>
</div>